<nav>
  <strong>UniBlog</strong>
</nav>

<style>
nav {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

strong {
    font-weight: bold;
    font-size: 1.2rem;
}
</style>
