@import url('https://cdn.jsdelivr.net/npm/normalize.css@8/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
}

.page {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .resources {
    max-width: 10vw;
    padding: 0.5rem;
  }
  .blog {
    max-width: 40vw;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .content {
    flex-wrap: wrap;
  }
}
